html {
  font-family: 'Domine', serif;
  font-family: 'Indie Flower', cursive;
}

textarea, input {
  width: 98%;
  margin: auto;
  margin-bottom: 1rem; 
}
.component {
  margin: .5rem;
  padding: 1rem;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}
